# could load values from finetune.yaml like other trainer configs, but we are too different
defaults:
  # - finetune
  - /sweep: CIR  # Load CIR-specific sweep params (used with --multirun)

handler: CIR
args:
  seed: 42
  output_dir: ${paths.output_dir}
  do_train: True
  do_eval: False
  eval_on_start: True
method_args:
  cfg:
    max_num_epochs: 16
    # cir_niter: 16
    cut_off_tokens: 1
    mlp_floor: 0.0
    # act_proj_num: 10
    # grad_proj_num: 0
    # layer_range: [6, 12]
    layer_range: [4, 7]
    # pca_every_n: 1
    mahal_reg: 1e-3
    quantile: 0.9
    mahal_pow: 1.0
    filter_reg: 1e-3
    filter_pow: 1.0
    # act_norm_pow: 0.0

    unlearning_rate: 0.8
    # unlearning_rate: 0.01
    target_modules:
      - gate_proj
      - up_proj
      # - down_proj
    train_batch_size: 22
    retain_batch_size: 12  # lowered from 16 because it caused OOM with GA

    # retaining_rate: 3e-4  # 1e-3 is fine too, but let's be safe and slow
    retaining_rate: 0
    # cb_retaining_layers: [12]
    cb_retaining_layers: [7]
    cb_retaining_pow: 1.0

