# could load values from finetune.yaml like other trainer configs, but we are too different
defaults:
  # - finetune
  - /sweep: CIR  # Load CIR-specific sweep params (used with --multirun)

handler: CIR
args:
  optim: sgd
  lr_scheduler_type: constant
  # learning_rate: 0.8
  learning_rate: 1.6
  per_device_train_batch_size: 16
  # per_device_eval_batch_size: 16

method_args:
  cfg:
    layer_range: [0, 16]

    act_quantile: 0.85
    # act_reg: 3e-3
    act_reg: 3e-3
    # grad_reg: 3e-3
    # mlp_quantile: 0.5  # useful on later layers, but very slightly
    # mlp_reg: 3e-3  # no effect, at least for WMDP; todo test it on toxicity

    target_modules:
      - gate_proj
      - up_proj
      # - down_proj
    
    # grad_proj_num: 24  # helps about 2x

    # # ! retaining params
    # retaining_rate: 3e-4  # 1e-3 is fine too, but let's be safe and slow
    # cb_retaining_layers: [7]  # for 8B use [12]
    # cb_retaining_pow: 1.0
    
    # ! legacy params
    # mlp_floor: 0.0
    # cir_niter: 16
    # cut_off_tokens: 1
    # pca_every_n: 1
    # act_proj_num: 10
    # grad_proj_num: 0
    # train_from_layer: 0
    # mahal_pow: 1.0
    # filter_pow: 1.0
    # act_collapse: 0
    # filter_reg: 10
    # project_to_mahal: True
    # mlp_filter_reg: 0.002
    # mlp_out_norm_pow: 0.0
    # grad_filt_pow: 0.0