defaults:
  - finetune
  - /hydra/sweeper: CIR  # Load CIR-specific sweep params (used with --multirun)

handler: CIR
args:
  optim: sgd  # adam underperforms
  learning_rate: 0.3
  lr_scheduler_type: constant
  gradient_accumulation_steps: 1  # must be one, because CIR modifies gradients in-place

method_args:
  cfg:
    act_quantile: 0.92
    
    act_pcs_to_use: 600
    grad_pcs_to_use: 600

    target_modules:
      - gate_proj
      - up_proj
    
    # forget_loss: neg_cross_entropy
    # forget_loss: mlp_breaking
    # forget_loss: mlp_activation_breaking
    forget_loss: gate_and_up_breaking_approx

    # # ! retaining params
    # retaining_rate: 1e-1
    # cb_retaining_layers: [6, 9, 12, 15]