# could load values from finetune.yaml like other trainer configs, but we are too different
defaults:
  # - finetune
  - /sweep: CIR  # Load CIR-specific sweep params (used with --multirun)

handler: CIR
args:
  seed: 42
  output_dir: ${paths.output_dir}
  do_train: True
  do_eval: False
  eval_on_start: True
  eval_strategy: epoch
  optim: sgd
  lr_scheduler_type: constant
  num_train_epochs: 16
  learning_rate: 2

method_args:
  cfg:
    layer_range: [4, 7]  # for 8B use [6, 12]

    act_quantile: 0.94
    act_reg: 2e-3
    # mlp_quantile: 0.5  # useful on later layers
    mlp_reg: 0.2

    target_modules:
      - gate_proj
      - up_proj
      # - down_proj
    train_batch_size: 32  # todo specify this batch size in args above
    retain_batch_size: 32

    # # ! retaining params
    # retaining_rate: 3e-4  # 1e-3 is fine too, but let's be safe and slow
    # cb_retaining_layers: [7]  # for 8B use [12]
    # cb_retaining_pow: 1.0
    
    # ! legacy params
    # mlp_floor: 0.0
    # cir_niter: 16
    # cut_off_tokens: 1
    # pca_every_n: 1
    # act_proj_num: 10
    # grad_proj_num: 0
    # train_from_layer: 0
    # mahal_pow: 1.0
    # filter_pow: 1.0
    # act_collapse: 0
    # filter_reg: 10
    # project_to_mahal: True
    # mlp_filter_reg: 0.002