defaults:
  - finetune
  - /hydra/sweeper: CIR  # Load CIR-specific sweep params (used with --multirun)

handler: CIR
args:
  optim: sgd  # adam underperforms
  learning_rate: 0.5
  lr_scheduler_type: constant
  gradient_accumulation_steps: 1  # must be one, because CIR modifies gradients in-place

method_args:
  cfg:
    n_pcs: 200

    retain_momentum: 0.9

    train_first_layers: 0.75
    # train_first_layers: 1

    # latent_attack_strength: 0.015

    warmup: 32