# Copy this file to .env and fill in with your own values

# URL for Optuna storage (could be local or remote). Only needed if you use Optuna.
OPTUNA_STORAGE_URL=postgresql://postgres...supabase.com:6543/postgres

HUGGING_FACE_HUB_TOKEN=hf_...
WANDB_API_KEY=...

# To disable tqdm (progress bars), set this environment variable:
TQDM_DISABLE=1

UNL_WANDB_PROJECT=open-unlearning
REL_WANDB_PROJECT=rel-open-unlearning