# @package hydra.sweeper
# Optuna sweep params for CIR trainer (used only with --multirun)
params:
  trainer.method_args.cfg.unlearning_rate: "tag(log, interval(0.1, 0.7))"
  trainer.method_args.cfg.mahal_quantile: "interval(0.3, 1)"
  trainer.method_args.cfg.mahal_reg: "tag(log, interval(1e-4, 1e-1))"
  trainer.method_args.cfg.mahal_pow: "interval(0.0, 1.5)"
  trainer.method_args.cfg.act_norm_pow: "interval(-0.5, 0.5)"
